<!DOCTYPE html>
<html  lang="tr"  xmlns:og="http://ogp.me/ns#">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recep YENİ</title>


    <meta property = "og: type" content = "website" />
    <meta property = "og: title" content = "Recep YENİ" />
    <meta property = "og: description" content = "Borsa, Tıp. Recep YENİ" />
    <meta property = "og: image" content = "img/icon.jpg" />
    <meta property = "og: url" content = "https://www.mahmutatabey.tk" />
    <meta property = "og: site_name" content = "Recep YENİ" />

    <link rel="icon" type="image/x-icon" href="img/icon.jpg">
    
        <!-- Required meta tags -->
        
    
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta http-equiv="Content-Type" content="text/html; ">
        <meta http-equiv="Content-Language" content="tr">
        <meta name="keywords" content="Recep YENİ, borsa, hisse, hesap, hesaplama">
        <meta name="robots" content="index, follow">
        <meta name="author" content="Recep YENİ">
        <!-- <meta http-equiv="refresh" content="500">  -->
        <!-- <title>merhabalar Patent, Arduino, Subtitle Reader, WebDesign</title> -->
        <meta name="description" content="Borsa, Tıp. Recep YENİ">
    
    


        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-CuOF+2SnTUfTwSZjCXf01h7uYhfOBuxIhGKPbfEJ3+FqH/s6cIFN9bGr1HmAg4fQ" crossorigin="anonymous">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script> -->
    <script src="js/angular.min.js"></script>
    <style>
       .baslik {
         margin: 20px auto;
         padding: 5px;
         border: solid 2px gray;
         border-radius: 5px;
         background-color: aliceblue; 
         background: linear-gradient(to right, rgba(255, 0, 0, 0.281) 0%,rgba(4, 0, 255, 0.281) 50%, rgba(2, 255, 0, 0.281) 100%); width: fit-content;
         box-shadow: 5px 5px 15px 5px black;
         /* transform: scale(1.2) rotate(2deg) translate(7px, 8px) skew(3deg, 4deg); */
       }


    </style>
</head>
<body>

  <div class="container">
  <div data-ng-app="myApp" data-ng-controller="myCtrl">
    <!--  -->
    <hr>
    <p><a href="https://recinilt.github.io/recinilt.comGrid/public/grid-bot-araclari.html">Gridler Arası Yüzde Hesabı</a></p>
    
    <p><a href="https://recinilt.github.io/surekli/grid">Geometrik Grid Getiri Hesaplama</a></p>
    <p><a href="https://recinilt.github.io/recinilt.comGrid/public/index.html">Grid Bot Backtest Aracı</a></p>
    <hr>
    <h6 class="baslik">%X KARLA BİRLEŞİK ÇARPAN</h6>
      <div class="col-lg-4">
        <div class="input-group mb-3" style="position: relative;">
          <span class="input-group-text text-primary">Anapara: </span>
          <input type="number"  class="form-control"  data-ng-model="anapara4"><span style="position: absolute; right: 5px;"> TL</span><br>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text text-primary">Kazanç oranı: %</span>
          <input type="number"  class="form-control"  data-ng-model="oran4"><br>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text text-primary">Kaç kez adet: </span>
          <input type="number"  class="form-control"  data-ng-model="adet4"><br>
        </div>
        <div class="input-group mb-3" style="position: relative;">
          <span class="input-group-text text-primary">Adetlik eklenti: </span>
          <input type="number"  class="form-control"  data-ng-model="kesinti4"><span style="position: absolute; right: 5px;"> TL</span><br>
        </div>
      </div>


      
      <br>
      Sonuç: <span style="color: red;">{{sonuc4()}} </span>  TL<br>
      Kar yüzdesi: %<span style="color: blue;">{{(((sonuc4()-anapara4)/anapara4)*100).toFixed(0)}}</span><br>
      Kaç kat kazanç: <span style="color: green;">{{(((sonuc4()-anapara4)/anapara4)).toFixed(5)}}</span>
      <hr>

      <!--  -->
      <h6 class="baslik">MAALİYET HESAPLAMA:</h6>
      <div class="col-lg-4">
        <div class="input-group mb-3" style="position: relative;">
          <span class="input-group-text text-primary">İlk Lot Sayısı: </span>
          <input type="number"  class="form-control"  data-ng-model="ilklot"><span style="position: absolute; right: 5px;">adet</span><br>
        </div>
        <div class="input-group mb-3" style="position: relative;">
          <span class="input-group-text text-primary">İlk Hisse Maaliyeti: </span>
          <input type="number"  class="form-control"  data-ng-model="ilkmaaliyet"><span style="position: absolute; right: 5px;">TL</span> <br>
        </div>
        <div class="input-group mb-3" style="position: relative;">
          <span class="input-group-text text-primary">İkinci Lot Sayısı: </span>
          <input type="number"  class="form-control"  data-ng-model="ikincilot"><span style="position: absolute; right: 5px;">adet</span> <br>
        </div>
        <div class="input-group mb-3" style="position: relative;">
          <span class="input-group-text text-primary">İkinci Hisse Maaliyeti: </span>
          <input type="number"  class="form-control"  data-ng-model="ikincimaaliyet"><span style="position: absolute; right: 5px;">TL</span> <br>
        </div>
      </div>


      <br>
      Son maaliyet:<span style="color: red;">{{sonmaaliyet()}} </span>  TL<br>
      
      <hr>
      <!--  -->

      <h6 class="baslik">%X KAR İÇİN KAÇTAN SATMAN GEREKLİ?  :</h6>
      <div class="col-lg-4">
      <div class="input-group mb-3" style="position: relative;">
        <span class="input-group-text text-primary">Lot sayısı: </span>
        <input type="number"  class="form-control"  data-ng-model="adet"><span style="position: absolute; right: 5px;">adet</span> <br>
      </div>
      <div class="input-group mb-3" style="position: relative;">
        <span class="input-group-text text-primary">Hisse maaliyeti: </span>
        <input type="number"  class="form-control"  data-ng-model="maaliyet"><span style="position: absolute; right: 5px;">TL</span> <br>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text text-primary">Kar etmek istediğin yüzde: %</span>
        <input type="number"  class="form-control"  data-ng-model="kar"><br>
      </div>
    </div>
      <br>
      1 adet lotu satman gereken fiyat: <span style="color: red;">{{hisseSon()}} </span>  TL<br>
      Toplam ele geçecek tutar: <span style="color:blue;" >{{hisseSon() * adet}}</span> TL <br>
      Toplam net kar: <span style="color: green;">{{netkar1() }}</span>
      <ul>
        <li ng-repeat="x in products">
          <span style="color:orange;">{{x.name}}</span> <span style="color:blue;">{{x.maaliyet}}</span> * <span style="color: green;">%{{x.kar}}</span> = <span style="color: red;">{{x.tutar}}</span><span ng-click="removeItem($index)">&times;</span>
        </li>
      </ul>
      Hisse ismi: <input type="text" ng-model="addMe">
      <button ng-click="addItem()">Ekle</button>
      <p>{{errortext}}</p>




      <hr>
      <!--  -->
      <h6 class="baslik">SATMAK İSTEDİĞİN KAZANÇ ORANI NE?  :</h6>
      <div class="col-lg-4">
        <div class="input-group mb-3" style="position: relative;">
          <span class="input-group-text text-primary">Lot sayısı: </span>
          <input type="number"  class="form-control"  data-ng-model="adet2"><span style="position: absolute; right: 5px;">adet</span> <br>
        </div>
        <div class="input-group mb-3" style="position: relative;">
          <span class="input-group-text text-primary">1 lot Hisse maaliyeti: </span>
          <input type="number"  class="form-control"  data-ng-model="maaliyet2"><span style="position: absolute; right: 5px;">TL</span> <br>
        </div>
        <div class="input-group mb-3" style="position: relative;">
          <span class="input-group-text text-primary">1 lotu kaçtan satmak istiyorsun? </span>
          <input type="number"  class="form-control"  data-ng-model="fiyat2"><span style="position: absolute; right: 5px;">TL</span> <br>
        </div>
      </div>

      
      <br>
      Yüzdelik kazancın: <span style="color: red;">% {{farkyuzde()}}</span><br>
      
      Toplam ele geçecek tutar: <span style="color:green;">{{mytutar2()}}</span> TL <br>
      Elde ettiğin net kar: <span style="color: blue;">{{mykar2()}} </span>  TL<br>

      <hr>
      <!--  -->
      
      
      <br><br><br><br>

      <!--  -->

      
        
      </div>
      
      <!--  -->



    </div>






      <script>
      var app = angular.module('myApp', []);
      app.controller('myCtrl', function($scope) {

          
          //%X KAR ETMEK İÇİN KAÇTAN SATMAN GEREKLİ?
         $scope.adet=1;
          $scope.maaliyet= 100;
        $scope.kar= 5;
          
          $scope.hisseSon= function(){
          $scope.toplam=$scope.maaliyet + ($scope.maaliyet * $scope.kar * 0.01);
          $scope.toplam=$scope.toplam.toFixed(5);
          return $scope.toplam;
          }

          $scope.netkar1 = function(){
            return Number(($scope.hisseSon() * $scope.adet) - ($scope.maaliyet * $scope.adet)).toFixed(5);
          }

          
          

          $scope.products = [];
          if (typeof(Storage) !== "undefined") {
            if (localStorage.getItem("hisseler")){
              var myhisseler = localStorage.getItem("hisseler").split(" - ");
              for(var i=0; i<myhisseler.length;i++){
                var hiss=myhisseler[i].split(" ");
                var myhisse ={};
                myhisse.name = hiss[0];
                myhisse.maaliyet=hiss[1];
                myhisse.kar = hiss[2];
                myhisse.tutar=hiss[3];
                $scope.products.push(myhisse);
                console.log(myhisse);
              }
            }
          }

            // localStorage.setItem("hisseler", "Smith john 143 - fgr dkdm 334 - lms ksl 323");
            
            // console.log(myhisseler);
            // var mylstor = myhisseler.join(" - ");
            // localStorage.setItem("hisseler2",mylstor);
           

          
$scope.addItem = function () {
  //$scope.hisseadi = "";
  //$scope.errortext = "";
  if (!$scope.addMe) {return;}
  //if ($scope.products.indexOf($scope.addMe) == -1) {
    $scope.hisseadi = {};
    $scope.hisseadi.name = $scope.addMe;
    $scope.hisseadi.maaliyet=$scope.maaliyet;
    $scope.hisseadi.kar = $scope.kar;
    $scope.hisseadi.tutar= $scope.hisseSon();

    //$scope.addMe + " hissesini %" + $scope.kar + " ile satmak için " + $scope.hisseSon() + " fiyattan satman gerek.";
    //$scope.products.push($scope.hisseadi.name + " hissesini %" + $scope.hisseadi.kar + " ile satmak için " + $scope.hisseadi.tutar + " fiyattan satman gerek.");
    $scope.products.push($scope.hisseadi);

    if (typeof(Storage) !== "undefined") {
            //if (localStorage.getItem("hisseler")){
              //var myhisseler = localStorage.getItem("hisseler").split(" - ");
              $scope.mylstore = [];
              for(var i=0; i<$scope.products.length;i++){
                $scope.mylstore.push($scope.products[i].name + " "+$scope.products[i].maaliyet + " "+ $scope.products[i].kar + " "+ $scope.products[i].tutar);
              }
              $scope.myhisseler3 = $scope.mylstore.join(" - ");
              localStorage.setItem("hisseler",$scope.myhisseler3);
    }
}
  //} else {
  //  $scope.errortext = "The item is already in your shopping list.";
  //}


$scope.removeItem = function (x) {
  //$scope.errortext = "";
  $scope.products.splice(x, 1);

  if (typeof(Storage) !== "undefined") {
            //if (localStorage.getItem("hisseler")){
              //var myhisseler = localStorage.getItem("hisseler").split(" - ");
              $scope.mylstore = [];
              for(var i=0; i<$scope.products.length;i++){
                $scope.mylstore.push($scope.products[i].name + " "+ $scope.products[i].maaliyet + " "+ $scope.products[i].kar + " "+ $scope.products[i].tutar);
              }
              $scope.myhisseler3 = $scope.mylstore.join(" - ");
              localStorage.setItem("hisseler",$scope.myhisseler3);
  }
}
        //////////////////////////

        //SATMAK İSTEDİĞİN FİYATTAKİ KAZANÇ ORANI NE? 
        $scope.adet2=1;
          $scope.maaliyet2= 100;
        $scope.fiyat2= 105;
          
          $scope.farkyuzde= function(){
          $scope.fark = $scope.fiyat2 - $scope.maaliyet2;
          $scope.farkyuz = $scope.fark / $scope.maaliyet2;
          $scope.farkyuz *= 100;
          $scope.farkyuz = Number($scope.farkyuz).toFixed(5);
          return $scope.farkyuz;
          }

          $scope.mytutar2 = function(){
            $scope.tutar2 = $scope.adet2 * $scope.fiyat2;
            $scope.tutar2 = Number($scope.tutar2).toFixed(5);
            return $scope.tutar2;
          }

          $scope.mykar2 = function(){
            $scope.kar3 =  ($scope.adet2 * $scope.fiyat2) - ($scope.adet2 * $scope.maaliyet2);
            $scope.kar3 = Number($scope.kar3).toFixed(5);
            return $scope.kar3;
          }
          //////////////////////////

        
        //MAALİYET HESAPLAMA
        $scope.ilklot=100;
        $scope.ilkmaaliyet= 10;
        $scope.ikincilot=200;
        $scope.ikincimaaliyet= 20;

        $scope.sonmaaliyet= function(){
          var ortalama=(($scope.ilklot * $scope.ilkmaaliyet) + ($scope.ikincilot * $scope.ikincimaaliyet))/($scope.ilklot+$scope.ikincilot);
          ortalama=ortalama.toFixed(5);
          return ortalama;
          }
          ///////////////
          

        //%X KARLA BİRLEŞİK ÇARPAN:
        $scope.anapara4=10000;
        $scope.adet4=200;
        $scope.oran4=0.2;
        $scope.kesinti4=0;

        $scope.sonuc4 = function(){
          var sum = Number($scope.anapara4);
      var i=0;
      for(i=0;i<Number($scope.adet4);i++){
      sum=sum + (sum*Number($scope.oran4*0.01));
      if($scope.kesinti4){
          sum=sum+($scope.kesinti4);
      }
      }
      return Number(sum).toFixed(5);
        }
      //////////////////////////////////

        //ATR Sistemi
        //$scope.hisse5=18;
        //$scope.atr5=0.4;

        
      });
      </script>




<!-- 
<hr>
<h5 class="baslik">%X KARLA BİRLEŞİK ÇARPAN</h5>
<div id="mydiv1"></div>
<div id="mydiv2"></div>
<p>anapara: <input type="number" id="anapara"></p>
<p>adet: <input type="number" name="" id="adet"></p>
<p>oran: %<input type="number" name="" id="oran"></p>
<p>adet başına kesinti: <input type="number" name="" id="kesinti"></p>
<button id="buton">hesapla</button>
<p>sonuç: <span id="sonuc"></span></p>
 -->

<!-- <script src="js/jquery-3.4.1.min.js"></script> -->
<script>

  //$(document).ready(function () {

    /*
      console.log("document ready");

      
      
      $("#buton").click(function () {
          var myanapara=$("#anapara").val();
      var myadet=$("#adet").val();
      var myoran=$("#oran").val();
      var mykesinti=$("#kesinti").val();
          var mysonuc=kademeli(myanapara,myadet,myoran,mykesinti);
          mysonuc = Number(mysonuc).toFixed(5);
          $("#sonuc").html(mysonuc);
          console.log(myoran);
      });

     
      

      var a=kademeli(1000,52,0.05);
  function kademeli(anapara,adet,oran,kesinti) {
      var sum = Number(anapara);
      var i=0;
      for(i=0;i<Number(adet);i++){
      sum=sum + (sum*Number(oran*0.01));
      if(kesinti){
          sum=sum-(kesinti);
      }
      }
      return sum;
  }

  */
  //$("#mydiv2").html(a);
     
  /*
      var str='{"names":[' + // create json object
  '{"first":"Hakuna","lastN":"Matata"},' +
  '{"first":"Jane","lastN":"Doe"},' +
  '{"first":"Air":"lastN":"Jordan"}]}';
  var obj = JSON.parse(str);
  //document.write(obj.names[1].first);
  console.log(obj.names[1].first);
      */
  //});

 

  

</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-popRpmFF9JQgExhfw5tZT4I9/CI5e2QcuUZPOVXb1m7qUmeR2b50u+YFEYe1wgzy" crossorigin="anonymous"></script>
</body>
</html>